/* Importing Fonts */
@font-face {
    font-family: "Syne";
    src: url(../Assets/Fonts/syne-webfont.woff2) format("woff2"), url(../Assets/Fonts/syne-webfont.woff) format("woff");
}

@font-face {
    font-family: "Truculenta";
    src: url(../Assets/Fonts/truculenta-webfont.woff2) format("woff2"), url(../Assets/Fonts/truculenta-webfont.woff) format("woff");
}

/* Css querry */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    background-image: url(../Assets//Images/topography.svg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom Scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #24303880;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253139;
}

/* Hello there page css */

.mainpage {
    height: 100vh;
    display: grid;
    place-content: center center;
    overflow: hidden;
}

.content-wrap {
    font-family: "Truculenta";
    font-size: 120px;
    color: #f1f1f1;
    display: inline-flex;
}

.fly-in-hello li,
.fly-in-there li {
    display: inline-flex;
    margin: 0 10px;
    opacity: 1;
    transition: all 1.5s ease;
}

.fly-in-hello .extraspace {
    margin: 0 20px;
}

.enter-button {
    font-family: "Syne";
    display: block;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: #9fef00;
    opacity: 1;
    margin-top: 30px;
    transition: all 1s ease 1.5s;
    cursor: pointer;
}

.content-hidden .fly-in-hello li,
.content-hidden .fly-in-there li {
    opacity: 0;
}

.content-hidden .fly-in-hello li:nth-child(1) {
    transform: translate3d(-90px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(2) {
    transform: translate3d(-70px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(3) {
    transform: translate3d(-50px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(4) {
    transform: translate3d(-30px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(5) {
    transform: translate3d(-10px, 0, 0);
}

.content-hidden .fly-in-hello li:nth-child(6) {
    transform: translate3d(0, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(1) {
    transform: translate3d(10px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(2) {
    transform: translate3d(30px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(3) {
    transform: translate3d(50px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(4) {
    transform: translate3d(70px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(5) {
    transform: translate3d(90px, 0, 0);
}

.content-hidden .fly-in-there li:nth-child(6) {
    transform: translate3d(110px, 0, 0);
}

.content-hidden .enter-button {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -30px, 0);
}

@media screen and (max-width: 1150px) {
    .content-wrap {
        font-size: 9vw;
    }
}


@media screen and (max-width: 768px) {
    body {
        background-color: #0e0e0e;
    }

    .content-wrap {
        font-size: 15vw;
        display: inline-block;
    }

    .fly-in-there {
        margin-top: 25px;
    }

    .content-hidden .fly-in-hello li:nth-child(1) {
        transform: translate3d(-50px, 0, 0);
    }

    .content-hidden .fly-in-hello li:nth-child(2) {
        transform: translate3d(-50px, 0, 0);
    }

    .content-hidden .fly-in-hello li:nth-child(3) {
        transform: translate3d(-25px, 0, 0);
    }

    .content-hidden .fly-in-hello li:nth-child(4) {
        transform: translate3d(0, 0, 0);
    }

    .content-hidden .fly-in-hello li:nth-child(5) {
        transform: translate3d(25px, 0, 0);
    }

    .fly-in-hello .extraspace {
        margin: 0;
    }

    .fly-in-hello .hello-h {
        margin-left: 25px;
    }

    .content-hidden .fly-in-there li:nth-child(1) {
        transform: translate3d(-50px, 0, 0);
    }

    .content-hidden .fly-in-there li:nth-child(2) {
        transform: translate3d(-25px, 0, 0);
    }

    .content-hidden .fly-in-there li:nth-child(3) {
        transform: translate3d(0, 0, 0);
    }

    .content-hidden .fly-in-there li:nth-child(4) {
        transform: translate3d(25px, 0, 0);
    }

    .content-hidden .fly-in-there li:nth-child(5) {
        transform: translate3d(50px, 0, 0);
    }

    .content-hidden .fly-in-there li:nth-child(6) {
        transform: translate3d(75px, 0, 0);
    }
}